{% extends "template.html" %}
{% block content %}
  <div class="container">
    <h3>Add new patients to the list for {{ team.teamName }}</h3>
    <p>Your list needs to have the following columns (the default list setup:)
      <p>Name, Location, MRN, Attending, Age, DOB, Sex, LOS, Visit Reason, Admitted</p>
      Select all your patients and copy-paste in the below box. <strong>This page will not delete existing patients, only add new ones to the selected team</strong>
    </p>
      <div class="container"> 
      <form class="form-inline" action="{{ url_for('addNewTeamData', team_id = team_id) }}" method="post">
        {{ form.csrf_token }}
        <p>
        <p>
        {% if data_Id %}
        <h3> Your Data Id Is: <b>{{ data_Id }} </b></h3>
        {% endif %}

        </p>
        <p>
        {{ form.patientData(placeholder="patient Data",  cols="80", rows="20") }}

        <span class="error">
          {% if form.patientData.errors %}
            {% for error in form.patientData.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>

        </p>
        <input class="button-primary" type="submit" value="Submit">
      </form>
  </div>
  </div>

{% endblock %}